.profile {
box-shadow: 1px 0px 10px 3px #4942422c;
margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
     width: 280px;
     padding: 10px 0px 0px 0px;

}

.description {
text-align: center;
}

.avatar {
    width: 100px;
    border-radius: 50% ;
}

.stats {
        display: flex;
        border-top: 1px solid rgba(187, 175, 175, 0.856);
        justify-content: center;
        background-color: #b7f4ec;
}

.item {
display: flex;
    flex-direction: column;
    padding: 16px;
    width: calc(100% / 3 - 2px);

   
}

.item:not(:last-child) {
    border-right: 1px solid rgba(187, 175, 175, 0.856);
}
.label {
    margin-bottom: 8px;
}

.quantity {
    font-weight: 700 ;
}
