.profile {
box-shadow: 1px 0px 10px 3px #4942422c;
border-radius: 10px;
margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
     width: 280px;
     padding: 15px 0px 0px 0px;
       overflow: hidden;


}

.description {
text-align: center;
}

.avatar {
    width: 100px;
    border-radius: 50% ;
}

.name {
    font-weight: 700;
}

.stats {
        display: flex;
        border-top: 1px solid rgba(187, 175, 175, 0.856);
        justify-content: center;
        background-color: #b7f4ec;
        justify-content: space-around;
}

.item {
display: flex;
    flex-direction: column;
    padding: 16px;
    width: calc( 100% / 5 );

   
}

.item:not(:last-child) {
    border-right: 1px solid rgba(187, 175, 175, 0.856);
}
.label {
    margin-bottom: 8px;
}

.quantity {
    font-weight: 700 ;
}
