.item {
    display: flex;
      padding: 18px;
      box-shadow: 2px 3px 3px 3px #49424238;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    border: 2px solid grey;
    border-radius: 4px;


}

.item:not(:last-child) {
   margin-bottom: 10px;
}

.online {
    width: 18px;
    height: 18px;
    background-color: green;
    border-radius: 50%;
    margin-right: 10px;
    display: block;

}

.ofline {
       width: 18px;
    height: 18px;
        background-color: rgb(196, 16, 16);
         border-radius: 50%;
    margin-right: 10px;

}


.avatar {
    margin-right: 10px;
}

.name {
    font-weight: 700;
}