.item {
    display: flex;
      padding: 18px;
      box-shadow: 2px 3px 3px 3px #49424238;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    
    border: 2px solid grey;
    border-radius: 4px;


}

.item:not(:last-child) {
   margin-bottom: 10px;
}

.status {
    margin-right: 10px;
    display: block;
}

.avatar {
    margin-right: 10px;
}

.name {
    font-weight: 700;
}