.statistics {
 /* border: 1px solid grey; */
  box-shadow:  3px 3px 13px 2px #49424238;
  border-radius: 10px;

  margin-right: auto;
  margin-left: auto;
 margin-bottom: 40px;
  width: 350px;
  padding-top: 15px;
  overflow: hidden;
}

.title {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.statList {
   display: flex;
}

.item {
    align-items: center;
    display: flex;
        flex-direction: column;
     padding: 15px;
     width: calc(100% / 5);

   
}

.label, .percentage {
    color: white;
    text-shadow: 1px 2px 1px rgb(31, 30, 30);
}

