.transactionHistory {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  box-shadow:  3px 3px 13px 2px #49424238;
    border-radius: 10px;
    width: 70%;
    text-align: center;
      overflow: hidden;

}

.tableHead {
    background-color: #06ccb2;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}

/* .tableRow {
  

} */
.tableRow:nth-child(2n) {
    background-color: #c5bebe;
}

.tableData {
        text-transform: capitalize;
            padding: 10px;
}